.about-section {
  padding: 2rem 1rem;
  background: white;
  color: black;
  text-align: center;
}

.about-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.about-title {
  font-size: 1.5rem;
  color: #2a7dab;
  margin-bottom: 1rem;
}

.about-text {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.info-icon {
  font-size: 1.5rem;
  color: #666;
}
